<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alojamientos</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/main.css"><link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/main.css">
</head>
<body>
    <div class="container">
        
        <div class="intro bg-cab center">
            <h1>Alojamientos Disponibles</h1>
            <form action="/Alojamientos" method="POST">
                <input class="inp-consulta" type="number" min="5" max="50" name="cantidad" id="cantidad" placeholder="Cantidad de Personas">
                <input class="btn-consulta" type="submit" value="Consultar">
            </form>
            <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Dirección</th>
                </tr>
            </thead>
            <tbody>
                {% for a in listado%}
                    <tr>
                        {%for i in a%}
                            <td>{{i}}</td>
                        {%endfor%}
                    </tr>
                {%endfor%}
            </tbody>
            </table>
        </div>
    </div>
    
    
    
</body>
</html>