<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barreal Turismo</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/main.css">
</head>
<body>
    
    
    <div class="container">

        <div class="intro left bg-1 fixed">
            <h1>Disfrute de Barreal</h1>
            <p class="scn-text">Barreal le ofrece una amplia gama de alojamientos donde usted y su familia pasarán unas excelentes vacaciones</p>
            <a href="/Alojamientos" ><input type="button" class="btn-consulta" value="Consulte alojamientos"></button></a>
        </div>
        <div class="intro right bg-2 fixed">
            <h1>Diviértase</h1>
            <p class="scn-text">Hay una gran variedad de actividades para realizar en Barreal pensadas para cada uno de nuestros turistas</p>
            <a href="/Actividades" ><input type="button" class="btn-consulta" value="Consultar Actividades"></button></a>
            <a href="/Dias" ><input type="button" class="btn-consulta" value="Consultar Días"></button></a>
        </div>
        <footer>
            <p> © Santiago Graziano 2021</p>
        </footer>
    </div>
</body>
</html>